<div class="admin-action">
    <h1><%= title.charAt(0).toUpperCase() + title.slice(1).toLowerCase() %></h1>

    <% if (error) { %>
        <p class="error">❌ <%= error %> </p>
    <% } %>

    <% if (success) { %>
        <p class="success">✅ <%= success %> </p>
    <% } %>

    <form action="/admin/change-admin-password" method="post">
        <label for="currentPassword">Old Password:</label>
        <input type="password" name="oldPassword" id="currentPassword" required>

        <label for="newPassword">New Password:</label>
        <input type="password" name="newPassword" id="newPassword" required>

        <label for="confirmPassword">Confirm Password:</label>
        <input type="password" name="confirmPassword" id="confirmPassword" required>

        <button type="submit">Change Admin Password</button>
    </form>
</div>