<% if (user) { %>
    <header>
        <a href="/" class="logo">MORPHO</a>

        <div class="right-side">
            <div class="user-menu">
                <img src="/images/admin/user-avatar.svg" alt="user-avatar" class="user-avatar">

                <div class="dropdown-menu">
                    <a href="/admin/change-admin-name" class="dropdown-link">Hello, <%= user.username %></a>
                    <a href="/admin/change-admin-password" class="dropdown-link">Change password</a>
                    <a href="/admin/logout" class="dropdown-link logout-link">Logout</a>
                </div>
            </div>

            <button class="theme-switch">
                <img src="/images/admin/moon.svg" alt="theme-switch-img">
            </button>
        </div>
    </header>
<% } %>