<div class="head">
  <h1>Welcome to Morpho Admin Panel</h1>
</div>

<div class="admin-dashboard-links">
  <a href="/admin">Dashboard</a>
  <a href="/admin/logo">Logo</a>
  <a href="/admin/navbar">Navbar</a>
  <a href="/admin/lang">Language</a>
  <a href="/admin/contactButtons">Contact Button</a>
  <a href="/admin/homePageIntros">Home Page Intro</a>
  <a href="/admin/homePageServicesHeadings">Home Page Services Heading</a>
  <a href="/admin/homePageServices">Home Page Service</a>
  <a href="/admin/homePageChooseUsHeadings">Home Page Choose Us Heading</a>
  <a href="/admin/homePageChooseUss">Home Page Choose Us</a>
  <a href="/admin/homePagePartnersHeadings">Home Page Partners Heading</a>
  <a href="/admin/homePagePartners">Home Page Partner</a>
  <a href="/admin/homePageConsultations">Home Page Consultation</a>
  <a href="/admin/academyPageIntros">Academy Page Intro</a>
  <a href="/admin/academyPageCoursesHeadings">Academy Page Courses Heading</a>
  <a href="/admin/academyPageCourses">Academy Page Course</a>
  <a href="/admin/academyPageContacts">Academy Page Contact</a>
  <a href="/admin/academyPageTeams">Academy Page Team</a>
  <a href="/admin/aboutIntros">About Intro</a>
  <a href="/admin/aboutChooses">About Choose</a>
  <a href="/admin/aboutValues">About Value</a>
  <a href="/admin/designIntros">Design Intro</a>
  <a href="/admin/designCategories">Design Categories</a>
  <a href="/admin/designPortfolios">Design Portfolio</a>
  <a href="/admin/iTIntros">IT Intro</a>
  <a href="/admin/iTServices">IT Service</a>
  <a href="/admin/iTProcess">IT Process</a>
  <a href="/admin/smmIntros">SMM Intro</a>
  <a href="/admin/smmServices">SMM Service</a>
  <a href="/admin/smmProcess">SMM Process</a>
  <a href="/admin/business">Business</a>
  <a href="/admin/consultingServices">Consulting Service</a>
  <a href="/admin/ourServices">Our Service</a>
  <a href="/admin/blogs">Blog</a>
  <a href="/admin/videos">Video</a>
  <a href="/admin/footerIntros">Footer Intro</a>
  <a href="/admin/footerLinksMains">Footer Links Main</a>
  <a href="/admin/footerLinksServices">Footer Links Service</a>
  <a href="/admin/footerContacts">Footer Contact</a>
  <a href="/admin/footerCredits">Footer Credit</a>
  <a href="/admin/footerSocialLinks">Footer Social Link</a>
</div>
