<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <title>Morpho</title>
</head>
<body>
    <div class="container">
        <h1 class="title">Morpho <span class="version">v.1.0.0</span></h1>
        <p class="welcome-text">Welcome to Morpho Backend</p>

        <hr>
        
        <h2 class="url-title">Site URL's</h2>

        <ul class="url-list">
            <li><a href='/api'>api list</a></li>
            <li><a href='/admin'>admin page</a></li>
        </ul>
    </div>
</body>
</html>

