<div class="action">
  <h1><%= title.charAt(0).toUpperCase() + title.slice(1).toLowerCase() %></h1>

  <form action="/admin/<%= activeRoute %>/add" method="post">
    <label>Language<span>*</span></label>
    <input type="text" name="lang" required />

    <label>Title<span>*</span></label>
    <input type="text" name="title" required />

    <label>Consultation Button<span>*</span></label>
    <input type="text" name="consultation_btn" required />

    <h2>ITEMS</h2>

    <div id="item-container"></div>

    <button type="button" id="add-item" class="submit submenu">Add item</button>

    <button type="submit" class="submit">Create</button>
  </form>
</div>

<script src="/js/servicesItems.js"></script>
