<div class="action">
  <h1><%= title.charAt(0).toUpperCase() + title.slice(1).toLowerCase() %></h1>

  <form action="/admin/<%= activeRoute %>/add" method="post">
    <label>Language<span>*</span></label>
    <input type="text" name="lang" required />

    <label>Email<span>*</span></label>
    <input type="text" name="email_label" required />

    <label>Telephone<span>*</span></label>
    <input type="text" name="telephone_label" required />

    <label>Address<span>*</span></label>
    <input type="text" name="address_label" required />

    <button type="submit" class="submit">Create</button>
  </form>
</div>
