<div class="action">
  <h1><%= title %></h1>

  <form action="/admin/<%= activeRoute %>/add" method="post">
    <label>Language<span>*</span></label>
    <input type="text" name="lang" required />

    <h2>ITEMS</h2>

    <div id="submenu-container"></div>

    <button type="button" id="add-submenu" class="submit submenu">
      Add item
    </button>

    <button type="submit" class="submit">Create</button>
  </form>
</div>

<script src="/js/consultingServicesItems.js"></script>
