<div class="action">
  <h1><%= title.charAt(0).toUpperCase() + title.slice(1).toLowerCase() %></h1>

  <form
    action="/admin/<%= activeRoute %>/add"
    method="post"
    enctype="multipart/form-data"
  >
    <label>URL<span>*</span></label>
    <input type="text" name="url" required />

    <label>Image<span>*</span></label>
    <input type="file" name="image" accept="image/*" required />

    <button type="submit" class="submit">Create</button>
  </form>
</div>